

<!-- Creation date: 11/04/2018 
	 Author: Josue Arce
	 Description : edit window view 
-->
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--4-col">
		<h4>Editar Componente</h4>
	</div>
</div>

<div class="mdl-grid">

<!-- 	LEFT CONTAINER -->
	<div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--8-col-phone" style="border-right: 2px solid">
		<div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--8-col-phone">
			<mat-form-field>
          		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        	</mat-form-field>
		</div>
		
		<div class="mdl-cell mdl--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
				aca va la tabla
			
		</div>

		<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" style="display: flex;justify-content: flex-start">
			<mat-paginator [length]="100" [pageSize]="10"[pageSizeOptions]="[5, 10, 25, 100]" [ngStyle]="{backgroundColor:'transparent'}"></mat-paginator>
		</div>

	</div>

<!-- 	RIGHT CONTAINER -->
	<div class="mdlcell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" >
		<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
			<mat-form-field>
			    <input matInput #input maxlength="30" placeholder="Ingrese el nombre del Componente" [(ngModel)]="component_name" >
			    <mat-hint align="begin" *ngIf="!component_name" [ngStyle]="{'color':'red'}">*Espacío Vacío</mat-hint><mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
			</mat-form-field>
		</div>
		<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
			<mat-form-field>
			    <mat-select placeholder="Dimensiones Disponibles" [(value)]="component_dimension">
			      <mat-option value="option" *ngFor="let item of lista" >{{item.nombre}}</mat-option>
			    </mat-select>
			    <mat-hint align="begin" *ngIf="!component_dimension" [ngStyle]="{'color':'red'}">*Sin Seleccionar</mat-hint>
			</mat-form-field>	
		</div>
		<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="width: 100%">
			    Editar
			</button>
		</div>
	</div>
</div>