

<!-- Creation date: 11/04/2018 
	 Author: Josue Arce
	 Description : edit window view 
-->

<mat-grid-list cols="4" rowHeight="400px">

<!-- 	Left Container -->
	<mat-grid-tile [colspan]="3" [rowspan]="1">

		<!-- Header -->
			<div class="w3-container"> 
			  <h2>With a Container</h2>
			  <p>The w3-container class is one of the most important of the w3.CSS classes. It provides correct margins, padding, alignments, and more to common HTML elements.</p>
			</div>
        
    </mat-grid-tile>


<!-- 	Right container -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        
    </mat-grid-tile>
	
</mat-grid-list>