
<!-- Creation date: 08/04/2018 
	Author: Josue David Arce Gonzalez
	Description: Component View 
-->

<mat-card>
	<mat-card>
		<mat-card-title>Componentes</mat-card-title>
		
		

	<!-- 	<div class="container_table mat-elevation-z8">
		  <mat-table #table [dataSource]="component_records">

		    <!-- Name Column -->
		    <!-- <ng-container matColumnDef="name">
		      <mat-header-cell *matHeaderCellDef> Componente </mat-header-cell>
		      <mat-cell *matCellDef="let element"> {{element.Component}} </mat-cell>
		    </ng-container> -->

		    <!-- Weight Column -->
		  <!--   <ng-container matColumnDef="weight">
		      <mat-header-cell *matHeaderCellDef> Dimensión Asociado </mat-header-cell>
		      <mat-cell *matCellDef="let element"> {{element.Dimension}} </mat-cell>
		    </ng-container> -->

		    <!-- Symbol Column -->
		    <!-- <ng-container matColumnDef="symbol">
		      <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
		      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
		    </ng-container>

		    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		  </mat-table> -->
		<!-- </div> --> -->
	</mat-card>
</mat-card>




